@import url("https://fonts.googleapis.com/css?family=Open+Sans:400");
div, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, th, td,
article, aside, figure, footer, header, hgroup, menu, nav, section, main {
  border: 0;
  margin: 0;
  padding: 0; }

*, *:before, *:after {
  box-sizing: inherit; }

body, html {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  color: #515c5a;
  box-sizing: border-box;
  height: 100%; }

html {
  height: 100%; }

body {
  min-height: 100%; }

.top__section {
  text-align: center;
  padding: 15px;
  background-color: #35354c;
  color: white; }

h1 {
  text-transform: uppercase;
  margin: 10px;
  font-size: 1.8rem; }
  @media only screen and (min-width: 768px) {
    h1 {
      font-size: 2.1rem; } }

h2 {
  margin: 10px 0;
  text-transform: uppercase;
  font-size: 1.8rem; }
  @media only screen and (min-width: 768px) {
    h2 {
      font-size: 2.0rem; } }

ul {
  list-style-type: none; }
  ul li {
    cursor: pointer;
    position: relative;
    list-style-type: none;
    font-size: .9rem;
    transition: 0.2s; }
    @media only screen and (min-width: 768px) {
      ul li {
        font-size: 1.1rem; } }
  ul span {
    font-size: 0.8rem;
    color: blue; }

label {
  font-size: 0.9375rem;
  line-height: 1.375rem;
  display: block;
  width: 100%; }

input[type='text'], input[type='email'] {
  padding: 10px;
  font-size: 1.5rem;
  line-height: 1.5;
  border: 1px solid #ddd;
  width: 100%;
  height: 48px; }

input[type=checkbox], input[type=radio] {
  vertical-align: middle;
  position: relative;
  bottom: 1px; }

input[type=radio] {
  bottom: 2px; }

#root {
  background: #edf1f5;
  height: 100%; }

.container {
  margin: auto;
  padding: 20px;
  max-width: 960px; }
  .container .box--white {
    background: #fff;
    padding: 25px;
    margin-bottom: 30px;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
    height: 100%; }
  .container .container__left, .container .container__right {
    width: 100%; }
    @media only screen and (min-width: 768px) {
      .container .container__left, .container .container__right {
        padding: 25px 15px; } }

.note {
  display: flex;
  padding: 15px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  background: #fff; }
  .note__number {
    font-size: 1.4rem;
    font-weight: bold;
    margin-right: 20px; }
  .note__body {
    font-size: 1.4rem;
    font-weight: 400; }
  .note__tags {
    margin: 10px 0;
    display: flex; }
    .note__tags span {
      display: inline-block;
      padding: .25rem .4rem;
      font-weight: 700;
      text-align: center;
      white-space: nowrap;
      vertical-align: baseline;
      border-radius: .25rem;
      background: red;
      color: white;
      margin-right: 10px;
      font-size: 1.1rem; }
  .note__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center; }
    .note__footer a {
      margin-right: 10px;
      font-size: 1.4rem; }
    .note__footer a:hover {
      background-color: #555; }
  .note__group {
    align-items: center;
    padding-left: 0;
    margin-bottom: 20px; }
    .note__group .note-group__item {
      position: relative;
      margin-bottom: 7px;
      background-color: #fff;
      border: 1px solid #ddd;
      align-items: center; }
      .note__group .note-group__item .card-content {
        display: flex;
        font-size: 1.4rem;
        border-bottom: 1px solid #ddd; }
        .note__group .note-group__item .card-content div {
          padding: 15px; }
      .note__group .note-group__item .card-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 15px; }
      .note__group .note-group__item .note__name {
        font-size: 1.6rem; }

.block {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out; }
  .btn.btn--primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff; }
    .btn.btn--primary:hover {
      background-color: #555;
      border: 1px solid transparent; }
  .btn.btn--sm {
    line-height: 1.5;
    border-radius: .3rem; }
  .btn.btn--lge {
    padding: .5rem 1.2rem;
    font-size: 2rem;
    line-height: 1.5;
    border-radius: .3rem; }
  .btn .close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0; }

.close {
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2; }

textarea {
  max-width: 100%;
  overflow: hidden;
  background-color: #FFF;
  color: #222;
  font-size: 24px;
  resize: none;
  line-height: 40px;
  padding: 20px;
  border-radius: 10px;
  height: 200px;
  margin-bottom: 25px;
  width: 100%;
  border: 1px solid #aaa; }

.ReactTags__tag {
  border: 1px solid #ddd;
  background: #eee;
  font-size: 12px;
  display: inline-block;
  padding: 5px;
  margin: 0 5px;
  cursor: move;
  border-radius: 2px;
  flex: 1 0 0; }

.ReactTags__tags {
  margin-bottom: 20px;
  margin-right: 10px;
  width: 50%; }
  .ReactTags__tags span {
    background: #fff; }

.ReactTags__remove {
  margin-left: 10px; }

.ReactTags__tagInput {
  margin-top: 10px; }
